.divLogo{
    padding: 2rem;
}

.title{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 2rem;
    margin-bottom: 1.75rem;
}

.div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.hr1{
    background-color: rgb(238 58 80/1);
    width: 12rem;
    height: 0.5rem;
    display: block;
    border-radius: 0.5rem;
    border: none;
}

.hr2{
    background-color: rgb(35 91 168/1);
    width: 9rem;
    height: 0.5rem;
    display: block;
    border-radius: 0.5rem;
    border: none;
}